# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Virtual environment
**/env/
**/venv/
**/.venv/

# Logs
*.log

# dotenv environment files
.env

# Editor directories and files
.vscode/
.idea/

# Mac
.DS_Store
